# /node_modules/* and /bower_components/* ignored by default

# Ignore built files except build/index.js
build/*
config/*
public/*
script/*
doc/*
**/*.scss
**/*.css
**/*.jpg
**/*.png
**/*.svg
**/*.mp4
